@*@model IEnumerable<MahalaxmiMarbal.Models.Table_ProductDetails>*@

@{
    ViewBag.Title = "AllSubProductsDetails";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>AllSubProductsDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ProductId
        </th>
        <th>
            VendorId
        </th>
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            model.Amount
        </th>
        <th>
            model.SellingAmount
        </th>
        <th>
           model.CreatedDate
        </th>
        <th>
           model.UpdatedDate
        </th>
        <th>
            model.Quantity
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.UserName) {
    <tr>
        <td>
            @item.ProductId
        </td>
        <td>
            @item.VendorId
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.Size
        </td>
        <td>
            @item.Amount
        </td>
        <td>
            @item.SellingAmount
        </td>
        <td>
            @item.CreatedDate
        </td>
        <td>
            @item.UpdatedDate
        </td>
        <td>
            @item.Quantity
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
